<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>honeycomb</title>
  <link rel = "shortcut icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <firebolt hidden aria-hidden="honeycomb">
    honeycomb -- Project Atlas
    <hr>
    If you are seeing this message, something is wrong with honeycomb on your computer.
  </firebolt>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">honeycomb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/rocket">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/homepage ">Components </a>
        </li>
        <li class="nav-item">
          <!-- Add Medical Link-->
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Guidiance</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <h1>home</h1>
  <p>
    Here is the datas:

<table>

<thead>
<tr>
<td>Components</td>
</tr>
</thead>
<tbody>
<tr><td>{{c1}}</td></tr>
<tr>
  <td>{{c2}}</td>
</tr>
<tr>
  <td>{{c3}}</td>
</tr>
<tr>
  <td>{{c4}}</td>
</tr>
<tr>
  <td>{{c5}}</td>
</tr>
<tr>
  <td>{{c6}}</td>
</tr>
<tr>
  <td>{{c7}}</td>
</tr>
<tr>
  <td>{{c8}}</td>
</tr>
<tr>
  <td>{{c9}}</td>
</tr>



</tbody>











</table>
    

    <br>
    <br

    <br>
    <br>
    <span>Official Build v20.2.10. &copy; Copyright 2017 - 2020 Firebolt, Inc, &copy; Copyright 2017 - 2020 Firebolt
      Space Agency, &copy; Copyright 2020 - Present Aaron Ma &nbsp; Rohan Fernandes.</span>
  </p>


</body>

</html>