<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!--Make the mdb-navbar -- based off of wirement -- work-->
<!-- make mat-raised-button color work-->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark bg-blue scrolling-navbar" [containerInside]="false">

    <logo>
    <a class="logo navbar-brand" href="#">
      <strong>Atlas&nbsp;</strong?
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" href="/homepage">Components</a>
      </li>
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" href="/support">suppport</a>
      </li>
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" href="/medical">Medical Help</a>
      </li>
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" href="/guidance">Guidiance</a>
      </li>
         <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" href="/appletv">Apple TV+</a>
      </li>
           <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" href="/guidance">Disney TV</a>
      </li>
      <button (click)="changeTheme('white')" mat-raised-button color="primary">
        White
      </button>
      <button (click)="changeTheme('blue')" mat-raised-button color="primary">
        Blue
      </button>
      <button (click)="changeTheme('pink')" mat-raised-button color="primary">
        Pink
      </button>
      <button (click)="changeTheme('indigo')" mat-raised-button color="primary">
        Indigo
      </button>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" href="https://www.facebook.com/profile.php?id=100017425847386" target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" href="https://twitter.com/aaronhma" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" href="https://www.linkedin.com/in/aaron-ma-b05235159/" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" href="https://github.com/aaronhma" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li class="nav-item active waves-light" mdbRippleRadius>
        <a class="nav-link" href="https://instagram.com/fireboltproducts" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
