<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
<style>
  body{
    background-color: lightseagreen;
    padding: 20px;
    font-family: 'Baloo Chettan 2',cursive;
  }
  h1{
    padding-top: 20px;
    padding-left: 10px;
    font-size: larger;
    
  }
  h3{
    padding: 10px;
    font-size: large;
    
  }
  a{
    padding: 10px;
    font-size: medium;
    

  }
  a:hover{
    text-decoration: none;

  }
  body{
    background-color: lightseagreen;
    font-family: 'Baloo Chettan 2', cursive;
  }

</style>
  </head>
<body>
    {% include "navigation.html" %}
    {% block content %}
    
    
    
    {% endblock %}
<h1>Welcome to Atlas: Atlas, Fast, Fuel Effienct, the official space rocket of the Firebolt Space Agency</h1>
<h3>Welcome Astronauts to Space Exploratin </h3>

<a href="/homepage">Want to check out the components of the rocket, or check if things are morking properly:Here</a>


</body>
</html>