<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<style>
    body{
    background-color: lightseagreen;
    font-family: 'Baloo Chettan 2', cursive;
    }

</style>
<body>
{% include "navigation.html" %}
{% block content %}



{% endblock %}

<div id="navbar"></div>
<h1>honeycomb support services</h1>
<h3>This includes a service for Medical Help and Specifically Wounds</h3>
<a href="/medical">Here is a link for an application that will submit wounds for help </a>
<!-- Use the Aplication as a html link with python -->
</body>